
//見出し
// ---------------------------------------------------

@mixin heading01 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  color: #333;
  margin-top: 0;
  padding-left: .5em;
  border-bottom: 1px solid #ccc;
  border-left: 10px solid #ccc;
}
